[tool.poetry]
name = "scenic"
version = "2.1.0b3"
description = "The Scenic scenario description language."
authors = [
	"Daniel Fremont <dfremont@ucsc.edu>",
	"Edward Kim",
	"Tommaso Dreossi",
	"Shromona Ghosh",
	"Xiangyu Yue",
	"Alberto L. Sangiovanni-Vincentelli",
	"Sanjit A. Seshia"
]
maintainers = ["Daniel Fremont <dfremont@ucsc.edu>"]
readme = "README.md"
license = "BSD-3-Clause"
repository = "https://github.com/BerkeleyLearnVerify/Scenic"
documentation = "https://scenic-lang.readthedocs.io"
classifiers = [
	'Operating System :: OS Independent',
	'Development Status :: 5 - Production/Stable',
]

[tool.poetry.dependencies]
python = "^3.7, <3.11"
dotmap = "^1.3.13"
shapely = "^1.7.0"
mapbox_earcut = "^0.12.10"
matplotlib = "^3.2.1"
scipy = "^1.4.1"
antlr4-python3-runtime = "~4.8"
opencv-python = "^4.5.4"
numpy = "^1.21.3"
pillow = "^9.0.1"
pynverse = "^0.1.4"
pygame = "^2.0.1"
attrs = "^19.3.0"
decorator = "^5.0.9"
importlib_metadata = { version = ">=3.7,<5", python = "~3.7" }

pyproj = [
	{version = "^3.0.0", python = "<3.10", optional = true},
	{version = "^3.3.0", python = "^3.10", optional = true}
]

pytest-randomly = {version = "^3.2.1", optional = true}
pytest = {version = "^6.0.0", optional = true}
sphinx = {version = ">=3.3.0, <5", optional = true}
tox = {version = "^3.14.0", optional = true}
sphinx_rtd_theme = {version = "^0.5.2", optional = true}
astor = {version = "^0.8.1", optional = true}

[tool.poetry.extras]
guideways = ["pyproj"]
dev = [
	"pytest-randomly",
	"pytest",
	"sphinx",
	"sphinx_rtd_theme",
	"tox",
	"pygments",
	"astor",
	"pyproj",	# for running guideways modules
]
test = [	# minimum dependencies for running tests (used for tox virtualenvs)
	"pytest-randomly",
	"pytest",
]

[tool.poetry.scripts]
scenic = 'scenic.__main__:dummy'

[tool.poetry.plugins."pygments.lexers"]
scenic = "scenic.syntax.pygment:ScenicLexer"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
