alabaster==0.7.12
antlr4-python3-runtime==4.8
appdirs==1.4.4
astor==0.8.1
atomicwrites==1.4.0; sys_platform == "win32"
attrs==19.3.0
babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3; sys_platform == "win32" or platform_system == "Windows"
cycler==0.10.0
distlib==0.3.1
docutils==0.16
dotmap==1.3.17
filelock==3.0.12
idna==2.10
imagesize==1.2.0
iniconfig==1.0.1
jinja2==2.11.2
kiwisolver==1.2.0
mapbox-earcut==0.12.10
markupsafe==1.1.1
matplotlib==3.3.1
more-itertools==8.5.0
numpy==1.19.1
opencv-python==4.2.0.34
packaging==20.4
pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pygame==2.0.0.dev10
pygments==2.6.1
pynverse==0.1.4.4
pyparsing==2.4.7
pyproj==2.6.1.post1
pytest==6.0.1
pytest-randomly==3.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.2
shapely==1.7.1
six==1.15.0
snowballstemmer==2.0.0
sphinx==3.2.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.1
tox==3.20.0
urllib3==1.25.10
virtualenv==20.0.31
