/* Use 4 spaces for tabs in highlighted code */
pre {tab-size: 4;}
/* :sampref: cross-references should be colored like ordinary links */
.rst-content a code.std-ref.literal {color: #2980b9;}
/* Increase maximum body width to support 100-character lines */
.wy-nav-content {max-width:900px;}

