name: format

on:
  push:
  pull_request:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run black to check formatting
      - uses: psf/black@stable

      - name: Run isort to check import order
      - uses: isort/isort-action@v1
